* {
  box-sizing: border-box
}



.form {
  padding: 16px;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 20px;
}

.form > input, .form > div {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  word-break: break-all;
}

.form > div {
  display: flex;
  justify-content: space-around;
}

.form > input:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #4CAF50;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}
