.navbar {
  z-index: 2;
  position: fixed;
  top: 74px;
  width: 100%;
}

.main {
  margin-top: 170px;
}

#shown {
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  background-color: white;
  grid-gap: 1px;
  border-bottom: #333 solid 6px;
}

#shown > div {
  padding-left: 10px;
  background: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: left;
  word-break: break-word;
}

.bold-shown{
  font-weight: bold;
  color: darkred;
}

#add-rest-btn {
  height: 30px;
  width: 30%;
  margin-left: 35%;
  background-color: #4CAF50;
  border: silver solid 1px;
  cursor: pointer;
  font-weight: bold;
}

#add-rest-btn:hover {
  background-color: #3e8e41;
}

.grid {
  display: grid;
  grid-gap: 5px;
  margin-bottom: 30px;
}

.subgrid, .header {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 1fr 1fr;
  grid-gap: 1px;
  grid-template-rows: minmax(auto, auto);
}

.header {
  border-bottom: black solid 1px;
}

.header > div {
  padding: .5em;
  background: rosybrown;
  color: darkred;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subgrid > div {
  padding: .5em;
  background: silver;
  word-break: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subgrid > .logo-wrap, .subgrid > .name {
  border: silver solid 1px;
  padding: 0;
}

.subgrid > .about {
  text-align: left;
}

.subgrid > .actions {
  flex-direction: column;
}

.actions > button {
  height: 40%;
  width: 80%;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.actions > button:hover {
  opacity: 1;
}

.name-btn {
  height: 100%;
  width: 100%;
  background: rosybrown;
  font-weight: bold;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.name-btn:hover {
  border: black solid 2px;
}

.logo {
  min-height: 100px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.change-form {
  background-color: #fefefe;
  margin: 10px auto 10px auto;
  padding-bottom: 20px;
  border: 1px solid #888;
  width: 60%;
}

.delete-form {
  background-color: #fefefe;
  margin: 10px auto 10px auto;
  padding-bottom: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box
}

.gridAddChangeRest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(auto, auto);
}

.headerAddChangeRest {
  padding: 16px;
  margin: 5px 20px 0 20px;
}

.form {
  padding: 0 16px 16px 16px;
  margin: 5px 20px;
}

.form > input, .form > div, .form > textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.form > div {
  display: flex;
  justify-content: space-around;
}

.form > input:focus, .form > textarea:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
}

.changeLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.changeLogo > button {
  background-color: #aaaaaa;
  padding: 14px 20px;
  margin: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.changeLogo > button:hover {
  opacity: 1;
}

.logo-change {
  min-height: 100px;
  min-width: 100px;
  max-width: 245px;
  max-height: 245px;
}

.logo-change-wrap {
  border: 1px solid black;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.change-form > button, .delete-form > button {
  width: 40%;
  padding: 14px 20px;
  margin: 10px 30% 10px 30%;
  display: inline-block;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.change-form > button:hover, .delete-form > button:hover {
  opacity: 1;
}

.form > button {
  width: 100%;
  padding: 14px 20px;
  margin: 10px 0 10px 0;
  display: inline-block;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.form > button:hover {
  opacity: 1;
}

.add-btn {
  background-color: #4CAF50;
}

.change-btn, .changeLogo > .change-btn {
  background-color: goldenrod;
}

.cancel-btn, .delete-btn {
  background-color: indianred;
}


.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
