<div class="navbar">
  <div id="shown">

    <div><span class="bold-shown">Owner:</span> {{ownerName}}</div>
    <div>
      <button id="add-rest-btn" (click)="showAddRestaurant()">Add a restaurant</button>
    </div>
  </div>

  <div class="grid">
    <div class="header">
      <div>Logo</div>
      <div>Name</div>
      <div>About</div>
      <div>Address</div>
      <div>Phone number</div>
      <div>Actions</div>
    </div>
  </div>
</div>
<div class="main">
  <div class="grid">
    <div class="subgrid" *ngFor="let rest of restaurants">
      <div class="logo-wrap"><img class="logo" src="../../../../assets/img/{{rest.logo}}" alt="logo"></div>
      <div class="name">
        <button class="name-btn" (click)="goToRestaurant(rest.id,rest.name)">{{rest.name}}</button>
      </div>
      <div class="about">{{rest.about}}</div>
      <div>{{rest.address}}</div>
      <div>{{rest.phoneNumber}}</div>
      <div class="actions">
        <button class="change-btn" (click)="showChangeRestaurant(rest)">Change</button>
        <button class="delete-btn" (click)="deleteRestaurant(rest.id)">Delete</button>
      </div>
    </div>
  </div>
</div>

<div id="modal" class="modal">
  <div class="modal-form">
    <span class="close-modal" (click)="closeModal()">&times;</span>
    <div class="headerAddChangeRest">
      <h2>{{operationName}}</h2>
      <p>{{restaurantName}}</p>
      <p>{{notification}}</p>
      <hr>
    </div>

    <div class="gridAddChangeRest">
      <div>
        <form #addRestForm='ngForm' class="form">
          <label><b>Name:</b></label>
          <input
            [(ngModel)]="showAddRest ? newRestaurant.name : restaurantForChange.name"
            (ngModelChange)="showAddRest ? newRestaurant.name=$event: restaurantForChange.name=$event"
            [ngStyle]="{border: restNameInp.invalid && restNameInp.dirty ? '2px solid red' : '2px solid green'}"
            #restNameInp='ngModel'
            required maxlength="50"
            placeholder="name"
            size="50"
            type="text"
            name="restName"
            autocomplete="off">
          <label><b>Address:</b></label>
          <input
            [(ngModel)]="showAddRest ? newRestaurant.address : restaurantForChange.address"
            (ngModelChange)="showAddRest ? newRestaurant.address=$event: restaurantForChange.address=$event"
            [ngStyle]="{border: restAddressInp.invalid && restAddressInp.dirty ? '2px solid red' : '2px solid green'}"
            #restAddressInp='ngModel'
            required maxlength="50"
            placeholder="address"
            size="50"
            type="text"
            name="restAddress"
            autocomplete="off">
          <label><b>Phone number:</b></label>
          <input
            [(ngModel)]="showAddRest ? newRestaurant.phoneNumber : restaurantForChange.phoneNumber"
            (ngModelChange)="showAddRest ? newRestaurant.phoneNumber=$event: restaurantForChange.phoneNumber=$event"
            [ngStyle]="{border: restPhoneInp.invalid && restPhoneInp.dirty? '2px solid red' : '2px solid green'}"
            #restPhoneInp='ngModel'
            required pattern="{{dataService.phoneRegExp.source}}"
            placeholder="phone number (pattern : +38(044)555-55-55)"
            size="50"
            type="text"
            name="restPhone"
            autocomplete="off">
          <label><b>Site:</b></label>
          <input
            [(ngModel)]="showAddRest ? newRestaurant.site : restaurantForChange.site"
            (ngModelChange)="showAddRest ? newRestaurant.site=$event: restaurantForChange.site=$event"
            [ngStyle]="{border: restSiteInp.invalid && restSiteInp.dirty? '2px solid red' : '2px solid green'}"
            #restSiteInp='ngModel'
            required pattern="{{dataService.siteRegExp.source}}"
            placeholder="site"
            size="50"
            type="text"
            name="restSite"
            autocomplete="off">
          <label><b>About:</b></label>
          <textarea
            [(ngModel)]="showAddRest ? newRestaurant.about : restaurantForChange.about"
            (ngModelChange)="showAddRest ? newRestaurant.about=$event: restaurantForChange.about=$event"
            [ngStyle]="{border: restAboutInp.invalid && restAboutInp.dirty? '2px solid red' : '2px solid green'}"
            #restAboutInp='ngModel'
            required maxlength="250"
            cols="60"
            rows="5"
            placeholder="description"
            type="text"
            name="restAbout"></textarea>
          <button
            *ngIf="showChangeRest"
            class="change-btn"
            [disabled]="addRestForm.invalid"
            (click)="changeRestaurantData()"
          >Update data
          </button>
        </form>
      </div>
      <div class="changeLogo">
        <label><b>Logo:</b></label><br>
        <div class="logo-change-wrap">
          <img class="logo-change" *ngIf="showAddRest && !imgURL && !errorLoadLogo"
               src="../../../../assets/img/no_logo.png" alt="no logo">
          <img class="logo-change" *ngIf="!showAddRest && !imgURL && !errorLoadLogo"
               src="../../../../assets/img/{{restaurantForChange.logo}}" alt="no logo">
          <img class="logo-change" *ngIf="imgURL && !errorLoadLogo" [src]="imgURL" alt="logo">
          <img class="logo-change" *ngIf="errorLoadLogo" src="../../../../assets/img/error_logo.png" alt="error logo">
        </div>
        <input #logoInput type="file" accept='image/*' (change)="preview(logoInput.files)"
               style="display: none"/>
        <button (click)="logoInput.click()">Load picture</button>
        <button *ngIf="showChangeRest" [disabled]="!logo" class="change-btn" (click)="changeLogo()">Update logo</button>

      </div>
    </div>

    <button
      *ngIf="showAddRest"
      class="add-btn"
      [disabled]="addRestForm.invalid || !logo || errorLoadLogo"
      (click)="addRestaurant()"
    >Add
    </button>
    <button
      class="cancel-btn"
      (click)="closeModal()"
    >Cancel
    </button>
  </div>

</div>



