#orderDetails {
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-gap: 1px;
  width: 70%;
  margin-left: 15%;
  border: black solid 2px;
  /*background: black;*/
}

#orderDetailsHeader {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

#orderDetailsHeader > div {
  padding: .5em;
  background: rosybrown;
  text-align: center;
}

.orderDetailsSubgrid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 1px;
}

.orderDetailsSubgrid > div {
  padding: .5em;
  background: silver;
  text-align: center;
}

.subgrid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  /*grid-gap: 1px;*/

}

.subgrid > div {
  padding: .5em;
  background: silver;
  word-break: break-all;
  Grid-column-start: 1;
  Grid-column-end: 3;
}

#total {
  Grid-column-start: 1;
  Grid-column-end: 4;
}

#action {
  Grid-column-start: 3;
  Grid-column-end: 5;
  Grid-row-start: 1;
  Grid-row-end: 4;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#action > button{
  height: 50px;
  width: 100px;
}



#show {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*margin-right: 10%;*/
  /*margin-left: 10%;*/
}

#show > button {
  border: none;
  cursor: pointer;
  height: 50px;
  width: 500px;
}
#show > div {
  height: 50px;
  width: 200px;
}

#show > button:hover{
  background-color: #3e8e41;
}
