<p>
  my-orders works!
</p>
<div id="show">
  <button (click)="showAll()">All</button>
  <button (click)="showOrdered()">Ordered</button>
  <button (click)="showCanceledByClient()">Canceled by me</button>
  <button (click)="showCanceledByRest()">Canceled by restaurant</button>
  <button (click)="showConfirmed()">Confirmed by restaurant</button>
  <button (click)="showPaid()">Paid</button>
</div>


<div id="orderDetails" *ngFor="let ord of ordersForShow">
  <div class="subgrid">
    <div>Restaurant:  {{ord.restaurant.name}}</div>
    <div>Date:  {{ord.date | date: 'dd LLL yyyy, HH:mm'}}</div>
    <div>Status:  {{ord.status}}</div>
    <div id="action">
      <button [disabled]="!showCancelOrd[ordersForShow.indexOf(ord)]" (click)="cancelOrder(ord)">Cancel</button>
    </div>
  </div>
  <div id="orderDetailsHeader">
    <div>Name</div>
    <div>Amount</div>
    <div>Price</div>
    <div>Cost</div>
  </div>
  <div class="orderDetailsSubgrid" *ngFor="let dish of ord.dishes">
    <div>{{dish.name}}</div>
    <div>{{ord.amount[ord.dishes.indexOf(dish)]}}</div>
    <div>{{dish.price}}</div>
    <div>{{ord.amount[ord.dishes.indexOf(dish)] * dish.price | number}}</div>
  </div>
  <div class="orderDetailsSubgrid">
    <div id="total">Total sum</div>
    <div>{{totalCost[myOrders.indexOf(ord)] | number}}</div>
  </div>
</div>

