<body>

<!--<div id = "signInMessage" *ngIf = "showSigInMessage"> Please <a routerLink="/sign-in">sigh in</a> to be able to make an order</div>-->

<div class="restaurant" *ngFor="let rest of restaurants">
  <div class="grid">
    <div class="logo-wrap"><img class="logo" src="../../../../assets/img/{{rest.logo}}" alt="logo"></div>
    <div class="details">
      <div class="name">
        <div><span class="bold-color">{{rest.name}}</span></div>
        <button class="menu-btn" (click)="goToRestaurant(rest.id, rest.name)">Menu</button>
      </div>
      <div><span class="bold">Address: </span>{{rest.address}}</div>
      <div><span class="bold">Phone: </span>{{rest.phoneNumber}}</div>
      <div><span class="bold">Site: </span><a href="https://{{rest.site}}" target="_blank">{{rest.site}}</a></div>
      <div>{{rest.about}}</div>
    </div>
  </div>
  <!--<div class="subgrid" >-->
  <!--<div><a (click)="goToRestaurant(rest.id, rest.name)">{{rest.name}}</a></div>-->
  <!--<div>{{rest.address}}</div>-->
  <!--<div>{{rest.phoneNumber}}</div>-->
  <!--</div>-->
</div>


<!--<div class="grid">-->
<!--<div class="header">-->
<!--<div>Name</div>-->
<!--<div>About</div>-->
<!--<div>Address</div>-->
<!--<div>Phone number</div>-->
<!--</div>-->
<!--<div class="subgrid" *ngFor="let rest of restaurants">-->
<!--<div><a (click)="goToRestaurant(rest.id, rest.name)">{{rest.name}}</a></div>-->
<!--<div>{{rest.about}}</div>-->
<!--<div>{{rest.address}}</div>-->
<!--<div>{{rest.phoneNumber}}</div>-->
<!--</div>-->
<!--</div>-->
</body>
