<p>
  restaurants works!
</p>

<!--<div id = "signInMessage" *ngIf = "showSigInMessage"> Please <a routerLink="/sign-in">sigh in</a> to be able to make an order</div>-->

<div class="grid">
  <div class="header">
    <div>Name</div>
    <div>About</div>
    <div>Address</div>
    <div>Phone number</div>
  </div>
  <div class="subgrid" *ngFor="let rest of restaurants">
    <div><a [routerLink]="'restaurants/' + rest.id">{{rest.name}}</a></div>
    <div>{{rest.about}}</div>
    <div>{{rest.address}}</div>
    <div>{{rest.phoneNumber}}</div>
  </div>
</div>
