<body>

<div class="restaurant" *ngFor="let rest of restaurants">
  <div class="grid">
    <div class="logo-wrap"><img class="logo" src="../../../../assets/img/{{rest.logo}}" alt="logo"></div>
    <div class="details">
      <div class="name">
        <div><span class="bold-color">{{rest.name}}</span></div>
        <button class="menu-btn" (click)="goToRestaurant(rest.id, rest.name)">Menu</button>
      </div>
      <div><span class="bold">Address: </span>{{rest.address}}</div>
      <div><span class="bold">Phone: </span>{{rest.phoneNumber}}</div>
      <div><span class="bold">Site: </span><a href="https://{{rest.site}}" target="_blank">{{rest.site}}</a></div>
      <div>{{rest.about}}</div>
    </div>
  </div>
</div>

</body>
