.grid {
  display: grid;
  grid-gap: 5px;
  /*grid-template-rows: minmax(auto,auto);*/
  /*grid-template-columns: minmax(auto,auto);*/


}

.subgrid, .header {
  display: grid;

  grid-template-columns: 2fr 3fr 2fr 1fr;
  grid-gap: 1px;
  border: black solid 2px;
  grid-template-rows: minmax(auto, auto);
  /*grid-template-columns: minmax(auto,auto);*/

}

.header > div {
  /*font-size: 1.5vw;*/
  padding: .5em;
  background: chocolate;
  text-align: center;
}

.subgrid > div {
  /*font-size: 1.5vw;*/
  padding: .5em;
  background: cadetblue;
  text-align: center;
  vertical-align: middle;
  /*word-wrap: break-word;*/
  /*overflow-wrap: break-word;*/
  word-break: break-all;
  /*height: auto;*/
  /*white-space: pre-wrap;*/
}

/*#signInMessage {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
  width: 50%;
  border: black solid 2px;
  background: indianred;
  padding: .5em;
  text-align: center;

}*/
