body{
  min-height: 100vh;
  background: beige;
  padding-top: 1px;
}

.restaurant {
  width: 80%;
  margin: 20px 10%;
  border: dimgrey solid 2px;
  box-shadow: 9px 7px 10px 0 rgba(0,0,0,0.26);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 5px;
  background: tan;
}

.details > div {
  margin: 10px 20px;
  word-break: break-word;
}

.name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-wrap {
  height: 220px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  min-height: 100px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.bold{
  font-weight: bold;
}

.bold-color{
  font-weight: bold;
  font-size: x-large;
  color: darkred;
}

.menu-btn {
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: #f2f2f2;
}

.menu-btn:hover {
  background: #ddd;
  color: black;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

