<h1>SIG IN</h1>


<label>Sign in:<br>
  <p>
    <input #loginRadio type="radio" name="byWhat" value="by login"  (change)="show=true" checked> by login
    <input #emailRadio type="radio" name="byWhat" value="by email" (change)="show=false"> by email
  </p>
</label>

<form #signInForm='ngForm'>
  <label *ngIf="show;else otherInput">Login:<br>
    <input
      [(ngModel)]="logForm.username"
      [ngStyle]="{border: usernameInp.invalid && usernameInp.dirty ? '2px solid red' : '2px solid green'}"
      #usernameInp='ngModel'
      required minlength="3" maxlength="20"
      placeholder="3-20 symbols"
      size="20"
      type="text"
      name="username"></label><br>
  <ng-template #otherInput>
    <label>Email:<br>
      <input
        [(ngModel)]="logForm.email"
        [ngStyle]="{border: emailInp.invalid && emailInp.dirty? '2px solid red' : '2px solid green'}"
        #emailInp='ngModel'
        required
        email
        size="20"
        type="email"
        name="email"></label>
  </ng-template>
  <label>Password:<br>
    <input
      [(ngModel)]="logForm.password"
      [ngStyle]="{border: passwordInp.invalid && passwordInp.dirty? '2px solid red' : '2px solid green'}"
      #passwordInp='ngModel'
      required minlength="3" maxlength="10"
      placeholder="3-10 symbols"
      size="20"
      type="password"
      name="password"></label><br><br>
  <button
    [disabled]="signInForm.invalid"
    (click)="login(signInForm , loginRadio.checked, emailRadio.checked)"
  >SIGN IN
  </button>
</form>


<!--<form #signInForm='ngForm'>-->
<!--<label>Login:<br>-->
<!--<input-->
<!--[(ngModel)]="logForm.username"-->
<!--[ngStyle]="{border: usernameInp.invalid && usernameInp.dirty ? '2px solid red' : '2px solid green'}"-->
<!--#usernameInp='ngModel'-->
<!--required minlength="3" maxlength="20"-->
<!--placeholder="3-20 symbols"-->
<!--size="20"-->
<!--type="text"-->
<!--name="username"></label><br>-->
<!--<label>Password:<br>-->
<!--<input-->
<!--[(ngModel)]="logForm.password"-->
<!--[ngStyle]="{border: passwordInp.invalid && passwordInp.dirty? '2px solid red' : '2px solid green'}"-->
<!--#passwordInp='ngModel'-->
<!--required minlength="3" maxlength="10"-->
<!--placeholder="3-10 symbols"-->
<!--size="20"-->
<!--type="password"-->
<!--name="password"></label><br>-->
<!--<label>Email:<br>-->
<!--<input-->
<!--[(ngModel)]="logForm.email"-->
<!--[ngStyle]="{border: emailInp.invalid && emailInp.dirty? '2px solid red' : '2px solid green'}"-->
<!--#emailInp='ngModel'-->
<!--required-->
<!--email-->
<!--size="20"-->
<!--type="email"-->
<!--name="email"></label><br><br>-->
<!--<button-->
<!--[disabled]="signInForm.invalid">-->
<!--&lt;!&ndash;(click)="saveUser(signUpForm , clientRadio.checked, ownerRadio.checked)"&ndash;&gt;-->
<!--&gt;SIGN UP</button>-->
<!--</form>-->


