<h2>SIG IN</h2>


<!--<label>Sign in:<br>-->
<!--<p>-->
<!--<input #loginRadio type="radio" name="byWhat" value="by login" (change)="show=true" checked> by login-->
<!--<input #emailRadio type="radio" name="byWhat" value="by email" (change)="show=false"> by email-->
<!--</p>-->
<!--</label>-->

<form #signInForm='ngForm'>
  <!--<label *ngIf="show;else otherInput">Login:<br>-->
  <!--<input-->
  <!--[(ngModel)]="logForm.username"-->
  <!--[ngStyle]="{border: usernameInp.invalid && usernameInp.dirty ? '2px solid red' : '2px solid green'}"-->
  <!--#usernameInp='ngModel'-->
  <!--required minlength="3" maxlength="20"-->
  <!--placeholder="3-20 symbols"-->
  <!--size="20"-->
  <!--type="text"-->
  <!--name="username"></label><br>-->
  <!--<ng-template #otherInput>-->
  <!--<label>Email:<br>-->
  <!--<input-->
  <!--[(ngModel)]="logForm.email"-->
  <!--[ngStyle]="{border: emailInp.invalid && emailInp.dirty? '2px solid red' : '2px solid green'}"-->
  <!--#emailInp='ngModel'-->
  <!--required-->
  <!--email-->
  <!--size="20"-->
  <!--type="email"-->
  <!--name="email"></label>-->
  <!--</ng-template>-->
  <label>Login or Email:<br>
    <input
      [(ngModel)]="logForm.loginEmail"
      [ngStyle]="{border: loginEmailInp.invalid && loginEmailInp.dirty ? '2px solid red' : '2px solid green'}"
      #loginEmailInp='ngModel'
      required pattern="({{passLoginRegexp.source}})|({{emailRegexp.source}})"
      placeholder="login / email"
      size="25"
      type="text"
      name="loginEmail"></label><br>
  <label>Password:<br>
    <input
      [(ngModel)]="logForm.password"
      [ngStyle]="{border: passwordInp.invalid && passwordInp.dirty? '2px solid red' : '2px solid green'}"
      #passwordInp='ngModel'
      required pattern="{{passLoginRegexp.source}}"
      placeholder="password"
      size="25"
      type="password"
      name="password"></label><br><br>
  <button
    [disabled]="signInForm.invalid"
    (click)="login(signInForm)"
  >SIGN IN
  </button>
</form>


