.grid {
  display: grid;
  grid-gap: 5px;

}

.header {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-gap: 1px;
  border: black solid 2px;
}
.subgrid {
  display: grid;
  grid-template-columns: 1.7fr 0.3fr 3fr 1fr;
  grid-gap: 1px;
  border: black solid 2px;
}

.header > div {
  font-size: 1.5vw;
  padding: .5em;
  background: chocolate;
  text-align: center;
}

.subgrid > div {
  font-size: 1.5vw;
  padding: .5em;
  background: cadetblue;
  text-align: center;
}

.section {
  font-size: 1.5vw;
  padding: .5em;
  margin-top: .3em;
  background: darkgoldenrod;
  /*text-align: center;*/
  border: black solid 2px;
}


