<div *ngIf="showMakeOrder;else otherD">
  <button id="cancel-btn" (click)="cancel()">Go back to menu</button>

  <div id="orderDetails">
    <div id="orderDetailsName"><span class="bold-red">New order</span></div>
    <div id="orderDetailsHeader">
      <div>Name</div>
      <div>Amount</div>
      <div>Price</div>
      <div>Cost</div>
      <div>Actions</div>
    </div>
    <div id="orderDetailsSubgrid" *ngFor="let d of newOrder.dishes">
      <div class="dish-name">{{d.name}}</div>
      <div>{{newOrder.amount[newOrder.dishes.indexOf(d)]}}</div>
      <div>{{d.price}}</div>
      <div>{{newOrder.amount[newOrder.dishes.indexOf(d)] * d.price | number}}</div>
      <div>
        <button class="increase-btn" (click)="increaseAmount(newOrder.dishes.indexOf(d))">+</button>
        <button class="reduce-btn" (click)="reduceAmount(newOrder.dishes.indexOf(d))">-</button>
        <button class="delete-btn" (click)="deleteDish(newOrder.dishes.indexOf(d))">X</button>
      </div>
    </div>
    <div id="totalSubgrid">
      <div id="total">Total</div>
      <div>{{totalCost | number}}</div>
      <div>
        <button id="confirm-btn" [disabled]="!newOrder.dishes.length" (click)="makeOrder()">Confirm</button>
      </div>
    </div>
  </div>
  <!--<button id="confirm-btn" [disabled]="!newOrder.dishes.length" (click)="makeOrder()">Confirm</button>-->
</div>

<ng-template #otherD>

  <!--<div id="order">-->
  <!--<div><span class="bold-red"> New order</span></div>-->
  <!--<div>Amount : {{totalAmount}}</div>-->
  <!--<div>Cost : {{totalCost | number}}</div>-->
  <!--<div>-->
  <!--<button (click)="showMakeOrder = true">Make/edit an order</button>-->
  <!--</div>-->
  <!--</div>-->
  <div class="navbar">

    <div id="order">
      <div><span class="bold-red">Restaurant:</span> {{restaurantName}}</div>
      <div>
        Amount : {{totalAmount}}<br>
        Cost : {{totalCost | number}}
      </div>
      <div>
        <button (click)="showMakeOrder = true">Make/edit an order</button>
      </div>
    </div>


    <div class="grid">
      <div class="header">
        <div><span class="bold-red"> Name</span></div>
        <div><span class="bold-red"> Description</span></div>
        <div><span class="bold-red"> Price</span></div>
      </div>
    </div>
  </div>

  <div class="main">
  <div class="grid" *ngFor="let sect of menuSections">
    <div class="section">{{sect.name}}</div>
    <div class="subgrid" *ngFor="let dish of sect.dishes">
      <div class="dish-name">{{dish.name}}</div>
      <div>
        <button class="buy-btn" [disabled]="!showBuy" (click)="addDishToOrder(dish.id)">buy</button>
      </div>
      <div class="dish-description">{{dish.description}}</div>
      <div>{{dish.price}}</div>
    </div>

  </div>
  </div>
</ng-template>
