
body {
  min-height: 100vh;
  /*background: lightgoldenrodyellow;*/
  /*background: gainsboro;*/
  background: beige;
  padding-top: 1px;
  /*min-height: 500px;*/
}

#signInMessage {
  width: 100%;
  padding-top: 10px;
  text-align: center;
  color: crimson;
  background: beige;
}

.navbar {
  /*overflow: hidden;*/
  z-index: 2;
  position: fixed;
  top: 110px;
  width: 100%;
}

.main {
  margin-top: 120px;
}

#menu-name {
  width: 100%;
  padding-top: 15px;
  text-align: center;
  border-bottom: darkred solid 2px;
  background: beige;
}


.grid {
  display: grid;
  grid-gap: 2px;
  width: 60%;
  /*position: relative;*/
  margin: 20px 20%;
  background: tan;
  /*text-align: center;*/
  border: dimgrey solid 2px;
  box-shadow: 9px 7px 10px 0 rgba(0, 0, 0, 0.26);

}

.header {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-gap: 1px;
  background: white;
  border-bottom: #333 solid 2px;
}

.subgrid {
  display: grid;
  /*!*Grid-column-start: 1;*!*/
  /*!*Grid-column-end: 4;*!*/
  grid-template-columns: 5fr 1fr;
  grid-gap: 2px;
  border: lightgoldenrodyellow solid 1px;
  margin: 0 20px 20px 20px;
  background: lightgrey;
}

.header > div {
  /*font-size: 1.5vw;*/
  padding: .5em;
  background: rosybrown;
  /*background: burlywood;*/
  text-align: center;
}

.subgrid > div {
  /*font-size: 1.5vw;*/
  padding: 10px;
  /*background: silver;*/
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  word-break: break-word;
}

.buy {
  Grid-row-start: 1;
  Grid-row-end: 4;
  Grid-column-start: 2;
  Grid-column-end: 3;
}

.section {
  /*Grid-column-start: 1;*/
  /*Grid-column-end: 4;*/
  padding: 20px 10px 20px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.section > button {
  background-color: tan;
  border: none;
  cursor: pointer;
}

.section > button:hover {
  /*background: #ddd;*/
  /*cursor: pointer;*/
}

.bold {
  font-weight: bold;
}

.bold-color {
  font-weight: bold;
  font-size: larger;
  color: darkred;
}

.bold-color-header {
  font-weight: bold;
  font-size: x-large;
  color: darkred;
}

.bold-red {
  font-weight: bold;
  color: darkred;
}

#order {
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50px;
  background-color: white;
  grid-gap: 1px;
  border-bottom: #333 solid 6px;
}

#order > div {
  padding-left: 10px;
  background: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  word-break: break-word;

}


#order button {
  background-color: #4CAF50;
  /*height: 30px;*/
  padding: 8px;
  width: 50%;
  margin-left: 25%;
  font-weight: bold;
  /*padding: 10px;*/
  /*margin: 5px;*/
  /*display: inline-block;*/
  border: silver solid 1px;
  /*border: none;*/
  cursor: pointer;
}

/*#order {*/
/*display: grid;*/
/*margin-top: 10px;*/

/*!*grid-gap: 1px;*!*/
/*width: 25%;*/
/*border: black solid 2px;*/
/*}*/

/*#order > div {*/
/*padding: .5em;*/
/*background: silver;*/
/*}*/


/*#order button {*/
/*background-color: #4CAF50;*/
/*!*height: 30px;*!*/
/*padding: 8px;*/
/*width: 80%;*/
/*margin-left: 10%;*/
/*!*padding: 10px;*!*/
/*!*margin: 5px;*!*/
/*!*display: inline-block;*!*/
/*!*border: black solid 1px;*!*/
/*border: none;*/
/*cursor: pointer;*/
/*opacity: 0.8;*/
/*}*/

#order button:hover {
  background-color: #3e8e41;

}

#orderDetails {
  display: grid;
  grid-gap: 1px;
  width: 60%;
  margin-left: 20%;
  border: black solid 2px;
}

#orderDetailsName {
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-word;
  background: silver;


}

#orderDetailsHeader {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 4fr 1fr 1fr 1fr 2fr;
  /*Grid-column-start: 1;*/
  /*Grid-column-end: 2;*/
}

#orderDetailsHeader > div {
  padding: .5em;
  background: rosybrown;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-word;
  font-weight: bold;
}


#orderDetailsSubgrid {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 2fr;
  grid-gap: 1px;
}


#orderDetailsSubgrid > div {
  padding: .5em;
  background: silver;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-word;
}


#orderDetailsSubgrid > .dish-name {
  text-align: left;
  word-break: break-word;
}

#totalSubgrid {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 2fr;
  grid-gap: 1px;

}

#total {
  Grid-column-start: 1;
  Grid-column-end: 4;
}

#totalSubgrid > div {
  padding: .5em;
  background: silver;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-word;
  font-weight: bold;

}


.bold {
  font-weight: bold;
}


#orderDetailsSubgrid button {
  /*background-color: #4CAF50;*/
  width: 30px;
  height: 30px;
  /*padding: 10px;*/
  /*margin: 5px;*/
  /*display: inline-block;*/
  border: silver solid 1px;
  cursor: pointer;
  opacity: 0.8;
}

#orderDetailsSubgrid button:hover {
  opacity: 1;
}

#cancel-btn {
  margin: 10px 10px 10px 20%;
  padding: 12px;
  width: 15%;
  /*height: 30px ;*/
  /*padding: 10px;*/
  /*margin: 5px;*/
  /*display: inline-block;*/
  background-color: indianred;
  font-weight: bold;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

#confirm-btn {
  padding: 12px;
  width: 80%;
  /*height: 30px ;*/
  /*padding: 10px;*/
  /*margin: 5px;*/
  /*display: inline-block;*/
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

#confirm-btn:hover, #cancel-btn:hover {
  opacity: 1;
}

.increase-btn {
  background-color: #4CAF50;

}

.reduce-btn {
  background-color: goldenrod;

}

.delete-btn {
  background-color: indianred;
}

#confirm-btn {
  background-color: #4CAF50;
  border: whitesmoke solid 1px;
  font-weight: bold;
}



.buy-btn {
  /*background-color: #4CAF50;*/
  margin: 10px 10px auto auto;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  /*background-color: #4CAF50;*/
  background-color: #333;
  color: #f2f2f2;
}

.buy-btn:hover {
  /*background-color: #3e8e41;*/
  background: whitesmoke;
  color: black;
  cursor: pointer;
}
