body {
  min-height: 100vh;
  background: beige;
  padding-top: 1px;
}

#shown {
  z-index: 2;
  position: fixed;
  top: 74px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 45px;
  background-color: white;
  grid-gap: 1px;
  border-bottom: #333 solid 6px;
}

#shown > div {
  padding-left: 10px;
  background: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: left;
  word-break: break-word;
}

.bold-shown{
  font-weight: bold;
  color: darkred;
}

#container {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: 100vh;
}

#menu{
  width: 30%;
  border: 1px solid black;
  overflow: auto;
}

#charts{
  width: 70%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.canvas {
  width: 50%;
}

canvas {
  margin-bottom: 50px;
}

#all-btn {
  margin: 10px;
  width: 80%;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #888;
  background-color: #4CAF50;
  word-break: break-word;
}

.btn {
  margin: 5px 10px;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
  word-break: break-word;
  border: 1px solid #888;
}

.restaurant-btn {
  width: 80%;
  background-color: indianred;
}

.section-btn {
  width: 75%;
  background-color: rosybrown;
}

.dish-btn {
  width: 70%;
  background-color: tan;
}

#all-btn:hover, .btn:hover {
  background: lightgrey;
  color: black;
  cursor: pointer;
}


