body {
  min-height: 100vh;
  background: beige;
  padding-top: 1px;
}

#restaurant-name{
  margin: 20px 0;
  width: 100%;
  text-align: center;
}

#signInMessage {
  width: 100%;
  padding-top: 10px;
  text-align: center;
  color: crimson;
  background: beige;
}


.bold {
  font-weight: bold;
}

.bold-color {
  font-weight: bold;
  font-size: larger;
  color: darkred;
}

.bold-color-header {
  font-weight: bold;
  font-size: x-large;
  color: darkred;
}

.bold-red {
  font-weight: bold;
  color: darkred;
}

#orderDetails {
  display: grid;
  grid-gap: 1px;
  width: 60%;
  margin-left: 20%;
  border: black solid 2px;
}

#orderDetailsName {
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-word;
  background: silver;


}

#orderDetailsHeader {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 4fr 1fr 1fr 1fr 2fr;
}

#orderDetailsHeader > div {
  padding: .5em;
  background: rosybrown;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-word;
  font-weight: bold;
}


#orderDetailsSubgrid {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 2fr;
  grid-gap: 1px;
}


#orderDetailsSubgrid > div {
  padding: .5em;
  background: silver;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-word;
}


#orderDetailsSubgrid > .dish-name {
  text-align: left;
  word-break: break-word;
}

#totalSubgrid {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 2fr;
  grid-gap: 1px;

}

#total {
  Grid-column-start: 1;
  Grid-column-end: 4;
}

#totalSubgrid > div {
  padding: .5em;
  background: silver;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-word;
  font-weight: bold;

}


.bold {
  font-weight: bold;
}


#orderDetailsSubgrid button {
  width: 30px;
  height: 30px;
  border: silver solid 1px;
  cursor: pointer;
  opacity: 0.8;
}

#orderDetailsSubgrid button:hover {
  opacity: 1;
}



#confirm-btn {
  padding: 12px;
  width: 80%;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

#confirm-btn:hover, #cancel-btn:hover {
  opacity: 1;
}

.increase-btn {
  background-color: #4CAF50;

}

.reduce-btn {
  background-color: goldenrod;

}

.delete-btn {
  background-color: indianred;
}

#confirm-btn {
  background-color: #4CAF50;
  border: whitesmoke solid 1px;
  font-weight: bold;
}



