.navbar {
  /*overflow: hidden;*/
  z-index: 2;
  position: fixed;
  top: 110px;
  width: 100%;
}

.main {
  margin-top: 260px;
}

#shown {
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  grid-gap: 1px;
  border-bottom: #333 solid 6px;
}

/*#shown > #whose{*/
  /*Grid-column-start: 1;*/
  /*Grid-column-end: 3;*/
  /*!*display: flex;*!*/
  /*!*align-items: center;*!*/
  /*!*justify-content: center;*!*/
  /*text-align: center;*/
  /*!*background-color: silver;*!*/
/*}*/

#shown > div {
  padding: 10px;
  background: #aaaaaa;
  word-break: break-word;
}


#show {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*margin-right: 10%;*/
  /*margin-left: 10%;*/
}

#show > button {
  border: none;
  cursor: pointer;
  height: 50px;
  width: 500px;
}

#show > div {
  height: 50px;
  width: 200px;
}

#show > button:hover {
  background-color: #3e8e41;

}

.drop-btn {
  background: rosybrown;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 200px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  /*cursor: pointer;*/
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


.order {
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-gap: 1px;
  width: 60%;
  margin-left: 20%;
  border: black solid 2px;
}

.order-header {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
}

.order-header > div {
  padding: .5em;
  background: silver;
  word-break: break-all;
  Grid-column-start: 1;
  Grid-column-end: 2;
}

.order-header > .actions {
  Grid-column-start: 2;
  Grid-column-end: 5;
  Grid-row-start: 1;
  Grid-row-end: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: silver;
  /*background-color: slategray;*/
}

.order-header > .actions > button {
  height: 50px;
  width: 100px;
  border: none;
  cursor: pointer;
}

.order-header > .actions > button:hover {
  background-color: #3e8e41;
}

.header-names {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 5fr 1fr 1fr 1fr;
}

.header-names > div {
  padding: .5em;
  background: rosybrown;
  text-align: center;
}

.order-details {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  grid-gap: 1px;
}

.order-details > div {
  padding: .5em;
  background: silver;
  text-align: center;
}

.total {
  Grid-column-start: 1;
  Grid-column-end: 4;
}

.bold-shown{
  font-weight: bold;
  color: darkred;
}

.bold{
  font-weight: bold;
}
