<h2 xmlns="http://www.w3.org/1999/html">home page</h2>

<div>
  <button routerLink="/">HOME</button>
</div><br><br><br>

<div *ngIf="logged;else otherD">
  <div>
    <button *ngIf="userClass =='Client'" (click)="goToClientAccount()">{{accountName}}</button>
    <button *ngIf="userClass =='Owner'" (click)="goToOwnerAccount()">{{accountName}}</button>
    <button *ngIf="userClass =='AdminInMemory page'" (click)="goToAdminAccount()">{{accountName}}</button>
  </div>
</div>

<ng-template #otherD>
  <div>
    <button routerLink="/sign-up">Sign up</button>
    <button routerLink="/sign-in">Sign in</button>
  </div>

  <div id = "signInMessage"> Please <a routerLink="/sign-in">sigh in</a> to be able to make an order</div>


</ng-template>

<hr>

<router-outlet>


</router-outlet>


