
<div class="navbar">
  <a routerLink="/">Home</a>
  <div *ngIf="logged;else signInUp">
    <a *ngIf="userClass == 'Owner'" routerLink="myRestaurants">My restaurants</a>
    <a *ngIf="userClass !== 'AdminInMemory'" routerLink="orders/my">My orders</a>
    <a *ngIf="userClass == 'Owner'" routerLink="orders/clients">Clients' orders</a>
    <a class="right" (click)="logout()">Sign out</a>
    <a *ngIf="(userClass == 'Owner')||(userClass == 'Client')" class="right" routerLink="myAccount">My account</a>
    <a *ngIf="userClass == 'AdminInMemory'" class="right" routerLink="admin">Admin page</a>
  </div>
  <ng-template #signInUp>
    <a class="right" routerLink="/sign-up">Sign up</a>
    <a class="right" routerLink="/sign-in">Sign in</a>
  </ng-template>

  <img id="dishes-img" src="../assets/img/dishes3.png" alt="dishes">
</div>


<div class="main">
<router-outlet>

</router-outlet>
</div>


<div id="modalMessage" class="modal">
  <div class="modal-response">
    <span class="close-modal" (click)="closeModal()">&times;</span>
    <div>
      <h3>Server response</h3>
      <hr>
      <p>{{responseMessage}}</p>
    </div>
    <button (click)="closeModal()">Close</button>
  </div>
</div>
