<div class="navbar">
  <div id="shown">
    <div><span class="bold-shown">Restaurant:</span> {{restaurantName}}</div>
    <div>
      <button id="add-section-btn" (click)="showAddSection()">Add a menu section</button>
    </div>
  </div>

  <div class="grid">
    <div class="header">
      <div>Name</div>
      <div>Description</div>
      <div>Price</div>
      <div>Actions</div>
    </div>
  </div>
</div>

<div class="main">
  <div class="grid" *ngFor="let sect of menuSections">
    <div class="section">
      <div class="sect-name">  {{sect.name}}  </div>
      <div class="actions">
        <button class="change-btn" (click)="showChangeSection(sect)">Change</button>
        <button class="delete-btn" (click)="showDeleteSection(sect)">Delete</button>
        <button class="add-btn" (click)="showAddDish(sect)">Add dish</button>
      </div>
    </div>
    <div class="subgrid" *ngFor="let dish of sect.dishes">
      <div class="name">{{dish.name}}</div>
      <div class="description">{{dish.description}}</div>
      <div>{{dish.price}}</div>
      <div class="actions">
        <button class="change-btn" (click)="showChangeDish(dish,sect.name)">Change</button>
        <button class="delete-btn" (click)="showDeleteDish(dish)">Delete</button>
      </div>
    </div>
  </div>
</div>

<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close-modal" (click)="closeModal()">&times;</span>

    <!---------------------------------------------------------------add section form-->
    <form *ngIf="showAddSect" #addSectionForm='ngForm' class="form">
      <h2>Add a menu section</h2>
      <p>{{description}}</p>
      <hr>
      <label><b>Name:</b></label>
      <input
        [(ngModel)]="newMenuSection.name"
        [ngStyle]="{border: newSectNameInp.invalid && newSectNameInp.dirty ? '2px solid red' : '2px solid green'}"
        #newSectNameInp='ngModel'
        required maxlength="50"
        placeholder="name"
        size="50"
        type="text"
        name="newSectName"
        autocomplete="off">
      <button
        class="add-btn"
        [disabled]="addSectionForm.invalid"
        (click)="addMenuSection()">Add
      </button>
      <button class="cancel-btn" (click)="closeModal()">Cancel</button>
    </form>
    <!---------------------------------------------------------------change section form-->
    <form *ngIf="showChangeSect" #changeSectionForm='ngForm' class="form">
      <h2>Change the menu section</h2>
      <p>{{description}}</p>
      <hr>
      <label><b>Existing name:</b></label>
      <div>{{sectionName}}</div>
      <label><b>New name:</b></label>
      <input
        [(ngModel)]="sectionForChange.name"
        [ngStyle]="{border: changeSectNameInp.invalid && changeSectNameInp.dirty ? '2px solid red' : '2px solid green'}"
        #changeSectNameInp='ngModel'
        required maxlength="50"
        placeholder="name"
        size="50"
        type="text"
        name="changeSectName"
        autocomplete="off">
      <button
        class="change-btn"
        [disabled]="changeSectionForm.invalid"
        (click)="changeMenuSection()">Save changes
      </button>
      <button class="cancel-btn" (click)="closeModal()">Cancel</button>
    </form>
    <!----------------------------------------------------------------------add dish form-->
    <form *ngIf="showAddDsh" #addDishForm='ngForm' class="form">
      <h2>Add a dish</h2>
      <p>{{description}}</p>
      <hr>
      <label><b>Menu section:</b></label>
      <div>{{sectionName}}</div>

      <label><b>Name:</b></label>
      <input
        [(ngModel)]="newDish.name"
        [ngStyle]="{border: newDishNameInp.invalid && newDishNameInp.dirty ? '2px solid red' : '2px solid green'}"
        #newDishNameInp='ngModel'
        required maxlength="50"
        size="50"
        placeholder="name"
        type="text"
        name="newDishName"
        autocomplete="off">
      <label><b>Description:</b></label>
      <textarea
        [(ngModel)]="newDish.description"
        [ngStyle]="{border: newDishDescInp.invalid && newDishDescInp.dirty? '2px solid red' : '2px solid green'}"
        #newDishDescInp='ngModel'
        required maxlength="280"
        cols="50"
        rows="6"
        placeholder="description"
        type="text"
        name="newDishDesc"
      ></textarea>
      <label><b>Price:</b></label>
      <input
        [(ngModel)]="newDish.price"
        [ngStyle]="{border: newDishPriceInp.invalid && newDishPriceInp.dirty ? '2px solid red' : '2px solid green'}"
        #newDishPriceInp='ngModel'
        required pattern="{{dataService.priceRegExp.source}}"
        size="10"
        placeholder="price"
        type="text"
        name="newDishPrice"
        autocomplete="off">
      <button
        class="add-btn"
        [disabled]="addDishForm.invalid"
        (click)="addDish()">Add
      </button>
      <button class="cancel-btn" (click)="closeModal()">Cancel</button>
    </form>
    <!----------------------------------------------------------------------change dish form-->
    <form *ngIf="showChangeDsh" #changeDishForm='ngForm' class="form">
      <h2>Change the dish</h2>
      <p>{{description}}</p>
      <hr>
      <label><b>Menu section:</b></label>
      <div>{{sectionName}}</div>

      <label><b>Name:</b></label>
      <input
        [(ngModel)]="dishForChange.name"
        [ngStyle]="{border: changeDishNameInp.invalid && changeDishNameInp.dirty ? '2px solid red' : '2px solid green'}"
        #changeDishNameInp='ngModel'
        required maxlength="50"
        size="50"
        placeholder="name"
        type="text"
        name="changeDishName"
        autocomplete="off">
      <label><b>Description:</b></label>
      <textarea
        [(ngModel)]="dishForChange.description"
        [ngStyle]="{border: changeDishDescInp.invalid && changeDishDescInp.dirty? '2px solid red' : '2px solid green'}"
        #changeDishDescInp='ngModel'
        required maxlength="280"
        cols="50"
        rows="6"
        placeholder="description"
        type="text"
        name="changeDishDesc"
      ></textarea>
      <label><b>Price:</b></label>
      <input
        [(ngModel)]="dishForChange.price"
        [ngStyle]="{border: changeDishPriceInp.invalid && changeDishPriceInp.dirty ? '2px solid red' : '2px solid green'}"
        #changeDishPriceInp='ngModel'
        required pattern="{{dataService.priceRegExp.source}}"
        size="10"
        placeholder="price"
        type="text"
        name="changeDishPrice"
        autocomplete="off">
      <button
        class="change-btn"
        [disabled]="changeDishForm.invalid"
        (click)="changeDish()">Save changes
      </button>
      <button class="cancel-btn" (click)="closeModal()">Cancel</button>
    </form>

    <!----------------------------------------------------------------------confirmation of deleting a section/dish-->
    <div *ngIf="showDeleteSect || showDeleteDsh" class="form">
      <h2>{{operationName}}</h2>
      <p *ngIf="showDeleteSect">{{sectionForDelete.name}}</p>
      <p *ngIf="showDeleteDsh">{{dishForDelete.name}}</p>
      <hr>
      <p *ngIf="showDeleteSect">The menu section "{{sectionForDelete.name}}" will be deleted.<br>
        Continue?</p>
      <p *ngIf="showDeleteDsh">The dish "{{dishForDelete.name}}" will be deleted.<br>
        Continue?</p>

      <button *ngIf="showDeleteSect"
              (click)="deleteMenuSection()"
              class="add-btn">Delete
      </button>
      <button *ngIf="showDeleteDsh"
              (click)="deleteDish()"
              class="add-btn">Delete
      </button>
      <button class="cancel-btn" (click)="closeModal()">Cancel</button>
    </div>

  </div>
</div>
