.navbar {
  /*overflow: hidden;*/
  z-index: 2;
  position: fixed;
  top: 110px;
  width: 100%;
}

.main {
  margin-top: 195px;
}


#shown {
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  background-color: white;
  grid-gap: 1px;
  border-bottom: #333 solid 6px;
}

/*#shown > #whose{*/
/*Grid-column-start: 1;*/
/*Grid-column-end: 3;*/
/*!*display: flex;*!*/
/*!*align-items: center;*!*/
/*!*justify-content: center;*!*/
/*text-align: center;*/
/*!*background-color: silver;*!*/
/*}*/

#shown > div {
  padding-left: 10px;
  background: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: left;
  /*text-align: left;*/
  word-break: break-word;
}

.bold-shown{
  font-weight: bold;
  color: darkred;
}

#add-section-btn {
  height: 30px;
  width: 30%;
  margin-left: 35%;
  background-color: #4CAF50;
  /*padding: 14px 20px;*/
  /*margin: 20px;*/
  border: dimgrey solid 1px;
  cursor: pointer;
  font-weight: bold;
}

#add-section-btn:hover {
  background-color: #3e8e41;
}

.grid {
  display: grid;
  grid-gap: 2px;
}

.header, .subgrid {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1.5fr;
  grid-gap: 1px;
  /*border: black solid 2px;*/

}

.header {
  border-bottom: black solid 1px;
  background-color: white;

}

.header > div, .subgrid > div {
  padding: .5em;
  background: silver;
  word-break: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header > div {
  background: rosybrown;
  /*background: burlywood;*/
  color: darkred;
  font-weight: bold;
}

.subgrid > .description {
  text-align: left;
}

.subgrid > .name {
  text-align: left;
}

.section {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1.5fr;
  grid-gap: 1px;
  /*margin-top: 5px;*/
  margin-top: 10px;
}

.section > div {
  padding: .5em;
  margin-top: 2px;
  background: rosybrown;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section > .sect-name {
  Grid-column-start: 1;
  Grid-column-end: 4;
  border: silver solid 1px;
}

.subgrid > .actions, .section > .actions {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.actions > button {
  height: 30px;
  width: 70px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.actions > button:hover {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  /*left: 0;*/
  /*right: 0;*/
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 50px auto 10px auto;
  padding: 10px 10px 20px 10px;
  border: 1px solid #888;
  width: 40%;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box
}

.form {
  padding: 16px;
  margin: 5px 10%;
  width: 80%;
}

.form > input, .form > div, .form > textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  word-break: break-word;
}

.form > input:focus, .form > textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form > div {
  display: flex;
  /*align-items: center;*/
  justify-content: space-around;
  /*text-align: center;*/
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
}

.form > button {
  padding: 14px 20px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.form > button:hover {
  opacity: 1;
}

.add-btn {
  background-color: #4CAF50;
}

.change-btn {
  background-color: goldenrod;
}

.cancel-btn, .delete-btn {
  background-color: indianred;
}
