.grid {
  display: grid;
  grid-gap: 2px;
}

.header, .subgrid {
  display: grid;
  /*Grid-column-start: 1;*/
  /*Grid-column-end: 4;*/
  grid-template-columns: 2fr 3fr 1fr 1.5fr;
  grid-gap: 1px;
  /*border: black solid 2px;*/
}

.header > div, .subgrid > div {
  /*font-size: 1.5vw;*/
  padding: .5em;
  background: silver;
  /*vertical-align: middle;*/
  word-break: break-all;
  /*align-items: center;*/
  /*justify-content: center;*/

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.header > div {
  background: rosybrown;
  color: darkred;
  font-weight: bold;
}

.section {
  display: grid;
  /*Grid-column-start: 1;*/
  /*Grid-column-end: 4;*/
  grid-template-columns: 2fr 3fr 1fr 1.5fr;
  grid-gap: 1px;
  /*border: black solid 2px;*/

}

.section > div {
  /*Grid-column-start: 1;*/
  /*Grid-column-end: 4;*/
  padding: .5em;
  margin-top: 2px;
  background: rosybrown;
  /*border: black solid 2px;*/
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section > .sect-name {
  Grid-column-start: 1;
  Grid-column-end: 4;
}

/*.actions{*/
  /*flex-direction: row;*/
  /*align-items: flex-start;*/
  /*justify-content: left;*/
  /*text-align: left;*/
/*}*/

.actions > button {
  height: 30px;
  width: 70px;
  /*background: rosybrown;*/
  /*background-color: #4CAF50;*/
  /*color: white;*/
  /*padding: 16px;*/
  /*font-size: 16px;*/
  border: none;
  cursor: pointer;
  opacity: 0.8;

}

.actions > button:hover {
  opacity: 1;
}





.add-btn{
  background-color: #4CAF50;
}

.change-btn{
  background-color: goldenrod;
}

.delete-btn{
  background-color: indianred;
}

















































table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%
}

th, td {
  padding: 15px;
}

.containerLeft {
  float: left;
  background: cadetblue;

  width: 100%;
}

.containerRight {
  float: left;
  background: dimgray;
  height: 500px;
  width: 20%;
}

.box {
  width: 1000px;
  background: yellow;
  color: white;
  border: 5px solid red;
  text-align: center;
}

.box-s {
  box-sizing: border-box
}

.clearfix {
  clear: both
}

/*-----------------------bloks*/
.footer {
  height: 250px
}

.menu {
  height: 150px
}

.left,
.center,
.right {
  height: 400px
}

/*-------------------------height*/
.h-80 {
  height: 80%
}

.h-60 {
  height: 60%
}

.h-50 {
  height: 50%
}

.h-40 {
  height: 40%
}

.h-20 {
  height: 20%
}

/*-------------------------width*/
.w-80 {
  width: 80%
}

.w-50 {
  width: 50%
}

.w-33 {
  width: 33.3%
}

.w-25 {
  width: 25%
}

/*-------------------------margin*/
.m-0-auto {
  margin: 0 auto;
}

.m-top-10 {
  margin-top: 10%
}

.m-top-15 {
  margin-top: 15%
}

.m-top-20 {
  margin-top: 20%
}

.m-top-30 {
  margin-top: 30%
}

.m-top-42 {
  margin-top: 42%
}

.m-top-80 {
  margin-top: 80%
}

/*-------------------------padding*/
.pdg-3 {
  padding: 3%
}

.pdg-10 {
  padding: 10%
}

/*-------------------------float*/
.float-l {
  float: left
}

.float-r {
  float: right
}


