<p>
  owner-page works!
</p>

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
<div>
  <button (click)="logout()">Logout</button>
</div>


<ul>
  <li>
    <a routerLink="myProfile">My profile</a>
  </li>
  <li>
    <a routerLink="myRestaurants">My restaurants</a>
  </li>
  <li>
    <a routerLink="myOrders">My orders</a>
  </li>
  <li>
    <a routerLink="restaurantsOrders">Clients' orders</a>
  </li>
</ul>

<hr>
<router-outlet></router-outlet>
