<body>

<div id="header">About the project</div>
<p>Using this app you can browse the list of registered restaurants, place orders in their menu
  and manage your orders.</p>
<p>You can sign up as a client or as an owner of restaurants.</p>
<p>If you sign up as the owner:</p>
<p>- you can register your restaurants, manage them and their client's orders.</p>
<p>- all the client's functionality is also available to you.</p>
<hr>
<p>NOTICE:</p>
<p>To save your time you can try this app using an existing account of the owner. Login and password: aaa.</p>
<p>Please, don't delete the restaurant if use.</p>

</body>
