body {
  min-height: 100vh;
  background: beige;
  padding-top: 1px;
}

#container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid silver;
}

#header {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  color: darkred;
}

.bold {
  font-weight: bold;
}
